#projects_heading{
    text-align:center;
    color:black;
}
.projects_container{
    background-color:white;
    padding-top:2em;
    padding-bottom:2em;
}

li::marker{
    font-size: 1.6em;
}
#project_body{
    background-color: #dbdbdb;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-bottom: 20px;
    font-family: 'Roboto';
}